<div class="container">
  <h2 class="center-align">Today's Featured Artist</h2>
    <div class="divider"></div>
    <div class="section">
      <div class="responsive-img hoverable" id="featured">
        {{#each artist.item}}
        <img src="{{this.dataValues.url}}" 
        title="{{this.dataValues.title}}">
        <div class="right" id="nameBox">
          <p id="artistName">Artist Name: {{this.dataValues.artistName}}</p>
          {{/each}}

          {{#each event}}
          <p>Sale:{{this.dataValues.endDate}}</p>
          {{/each}}
          {{#each artist.item}}
        </div> 
         <a href="./api/items/:{{this.dataValues.artistId}}" class="prodLink">Visit product page</a>
        {{/each}}
      </div>
    </div>

    <div class="divider"></div>
    <div class="section">
      <h3>Recently Featured Artists</h3>
      <div class="row" id="recentArt">
        {{#each artist.item}}
        <div class="col s3" id ="cardOne">
          <div class="card hoverable">
            <div class="card-image">  
              <img
                src="{{this.dataValues.url}}"
                alt="{{this.dataValues.title}}">
              <span class="card-title">{{this.dataValues.title}}</span>
            </div>
            <div class="card-content">
              <p>{{this.dataValues.artistName}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
        <div class="col s3" id ="cardTwo">
          <div class="card hoverable">
            <div class="card-image">
              <img
                src="{{this.dataValues.url}}"
                alt="{{this.dataValues.title}}">
              <span class="card-title">Artwork Title:{{this.dataValues.title}}</span>
            </div>
            <div class="card-content">
              <p>Artist Name:{{this.dataValues.artistName}}</p>
            </div>
            <div class="card-action">
              <a href="/api/items/:{{this.dataValues.artistId}}"></a>
            </div>
          </div>
        </div>
        <div class="col s3" id ="cardThree">
          <div class="card hoverable">
            <div class="card-image">
              <img src="{{this.dataValues.url}}"
                alt="{{this.dataValues.title}}">
              <span class="card-title">Artwork Title: {{this.dataValues.title}}</span>
            </div>
            <div class="card-content">
              <p>Artist Name: {{this.dataValues.artistName}}</p>
            </div>
            <div class="card-action">
              <a href="/api/items/:{{this.dataValues.artistId}}"></a>
            </div>
          </div>
        </div>
        <div class="col s3" id ="cardFour">
          <div class="card hoverable">
            <div class="card-image">

              <img
                src="{{this.dataValues.url}}"
                title="{{this.dataValues.title}}">
              <span class="card-title">Artwork Title: {{this.dataValues.title}}</span>
            </div>
            <div class="card-content">
              <p>Artist Name: {{this.dataValues.artistName}}</p>
            </div>
            <div class="card-action">
              <a href="/api/items/:{{this.dataValues.artistId}}"></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <script src="assets/js/home.js"></script>
